.body {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    margin-top: 0;

    &.pass {
        color: rgb(35, 173, 30);
    }
    &.fail {
        color: rgb(228, 25, 25);
    }
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    .text:first-child {
        width: 15%;
    } 

    & + & {
        margin-top: 10px;
    }
}

.container {
    width: 40%;
    height: 80%;
    border: 2px solid #000;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &__header {
        width: 100%;
    }
    
    &__body {
        position: relative;
        width: 100%;
        height: 100%;
        border: 2px solid #000;
    }
}

.ball {
    position: absolute;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(196, 62, 62);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes fadeAway {
    from {
        background-color: rgb(184, 62, 62);
    }
    to {
        opacity: 0;
    }
}